.homepage_content{
    position: absolute;
    top: 8vh;
    left: 16vw;
    width: 84vw;
    max-width: 84vw;
    font-size: 36px;
    color: black;
    overflow-x: hidden;
}
.dashboard_title{
    width: 90%;
    margin: 10px auto 0px auto;
}
.cards_container{
    width: 90%;
    display: flex;
    gap: 15px;
    margin: 10px auto 30px auto;
    justify-content: center;
}
.dashboard_card{
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
    font-size: 1.2rem;
    padding: 15px 10px;
    box-shadow: 2px 2px 4px 2px rgba(128, 128, 128,0.3);
}
.dashboard_card .title{
    font-size: 1.2rem;
    background:none;
    text-align: center;
}
.dashboard_card .title_value{
    font-size: 1.1rem;
}
.vendors{
    margin: 10px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 90%;
}
.vendors_container{
    background-color: white;
    border-radius: 5px;
    padding: 0px;
    font-size: 0.9rem;
    flex: 1 1 0;
    box-shadow: 2px 2px 4px 2px rgba(128, 128, 128,0.3);
    background-color: rgb(240, 239, 239);
}

.vendors_container table{
    margin: 10px auto;
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(240, 239, 239);
}
.vendors_container table thead{
    background-color: rgb(240, 239, 239);
}
.vendors_container table tr{
    height: 1.2rem;
    margin: 0;
}
.vendors_container table tr:nth-child(even){
    background-color: rgb(255, 255, 255);
}

.vendors_container table th,td{
    text-align: center;
    
}