.container{
    padding: 10px 25px ;
    width: 84vw;
    max-width: 84vw;
}
.container p{
    margin-left: 5%;
}
.b_diagram_content{
    text-align: center;
}
.b_diagram_content img{
    width: 76vw;
    height: auto;
    object-fit: cover;
    margin: 15px auto;
    border-radius: 15px;
}
