.switches_content{
    position: absolute;
    top: 8vh;
    left: 16vw;
    width: 84vw;
    max-width: 84vw;
    font-size: 36px;
    color: black;
    overflow-x: hidden;
    
}
.title{
    background-color: #FAF7FF;
    font-size: 1.5rem;
    padding: 15px;
    font-weight: bold;
    width: 100%;
}