.container{
    margin: 15px 30px 15px 0px;
    width: 84vw;
    max-width: 84vw;
}
.branch_name{
    color: #3E3250;
    font-size: 1.2rem;
    font-weight: 700;
    width: 90%;
    margin: 10px 0;
}
.connection_cards{
    display: flex;
    
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: space-between;
    width: 90%;
}
.connection_content{
    font-size: 1rem;
    background-color: white;
    width: 48%;
    margin: 15px 0;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 4px 4px rgba(79, 79, 79,0.3);
    display: flex;
}
.connection_content table{
    width: 98%;
    margin: 0 auto;
}
.connection_content table td{
    padding: 5px 10px;
}
.connection_content table tr:nth-child(even){
    background-color: #FCFAFF;
}
.connection_content table tr td:nth-child(odd){
    text-align: center;
}